.#{$cf-prefix} {

  /* The container */
  &--checkbox-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &--checkbox-el {
    height: $cf-checkbox-height;
    width: $cf-checkbox-width;
    margin: $cf-checkbox-margins;
  }

  &--checkbox-label {
    display: flex;
    align-items: center;
    position: relative;
    min-height: $cf-checkbox-size;
    cursor: pointer;
    font-size: $cf-checkbox-label-font-size;
    font-weight: $cf-checkbox-label-font-weight;
    color: #222222;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: $cf-font-family-formular;

    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: $cf-checkbox-size;
      width: $cf-checkbox-size;
      background-color: #fff;
      border: 1px solid #1850D6;
      border-radius: 2px;
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
      //background-color: #;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
      background-color: #1850D6;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}