.#{$cf-prefix} {
  .#{$cf-prefix} {
    &__control {
      width: 100%;
      height: $cf-el-height;
      border-radius: $cf-border-radius;
      border: $cf-border;
      color: $cf-el-color;
      background: $cf-el-bg-color;
      box-sizing: border-box;
      font-size: $cf-el-font-size;
      padding: $cf-el-padding;
    }
  }
}

