$cf-prefix: "coax-form";

// Colors
$cf-color-blue: #2456CE;
$cf-color-red: #FE1935;
$cf-color-light-gray: #D2D2D2;
$cf-color-gray: #8A8A8A;

// General elements
$cf-font-family-formular: Formular, sans-serif;
$cf-border-radius: 4px;
$cf-border-thickness: 1px;
$cf-border-style: solid;
$cf-border-color: #000;
$cf-border: $cf-border-thickness $cf-border-style $cf-border-color;
$cf-el-color: #000;
$cf-el-bg-color: transparent;
$cf-el-padding: 2px 8px;
$cf-el-font-size: 16px;
$cf-font-weight-light: 300;
// TODO add hover/focus/active



$cf-el-height: 36px;
// TODO add different sized for different screen sizes


// Element wrapper
$cl-wrapper-padding: 10px 0;


//Input
$cf-input-border-radius: 2px;
$cf-input-border-thickness: 2px;